h2, h3 { color: #e4d8ab; text-transform: uppercase;}
ul { margin: 0; padding: 0; list-style: none;}
a {transition: all ease 0.3s;}
a:focus { outline: none;}
img { height: auto; max-width: 100%;}
.btn-default { background: transparent; border-radius:0; text-transform: uppercase; }
.btn-default:hover { color: #000}
.site-header { position: relative; background: #e3d4ab;}
.navbar-header { position: relative;}
.navbar { margin-bottom: 0; border-radius: 0;}
.navbar-nav > li { float: none; display: inline-block;}
.nav > li > a { text-transform: uppercase;}
.logo { position: absolute; top: 40px; left: 10px; z-index: 1}
.logo img { max-width: inherit;}
.avissi { display: block; padding: 13px 0;}
.col-centered { float: none; text-align: center;}
.col-centered ul { float: none; text-align: center;}
.collapse { display: none;}
.main-section { display: block; position: relative; background:url(images/home-left-side.png) no-repeat left top #282723;}
.wine-bottle { position: absolute; left: 50%; right: 50%; bottom: 0; margin-left: -100px; z-index: 1;}
.main-content { margin: 0 auto; width: 415px; display: block; position: relative;}
.main-content h2 { font-size: 48px;}
.main-content h2 small { font-size: 30px; color: #e4d8ab;}
.main-content p { margin-bottom: 20px;}
.home-right-side { padding: 0;}
.home-right-side img { width: 100%;}
.extra-padding { margin: 100px 0;}
.contat-list li { display: block; font-weight: 700;}
.contat-list li a { color: #e6ca9a; font-weight: 400;}

.prosecco-page { padding: 165px 0 0}
.prosecco-rigt-side { background:url(images/prosecco-right-image.jpg) no-repeat left top #ffedde; min-height: 658px; background-size: cover;}
.videoUiWrapper { margin: 50px 0 0}
.videoUiWrapper video { width: 100%;}

.recipes-head { float: none; display: block; margin: 70px auto; text-align: center;}
.recipes-list { display: block; margin-bottom: 70px;}
.recipes-list ul li { display: inline-block; text-align: center; position: relative; overflow: hidden; min-height: 385px;}
.recipes-list ul li:last-child { margin-right: 0;}
.recipes-list ul li img {margin-bottom: 20px; height: 340px; width: 97px; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.recipes-list ul li:hover img { height: 300px; width: 77px; opacity: 0.3;}
.recipes-list ul li span { color: #e6ca9a; display: block; text-transform: uppercase;}
.recipes-list ul li:hover span { display: none;}
.pomegranate-cooler { text-align: center; bottom: -100%; left: 0; position: absolute; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out; width: 100%;}
.pomegranate-cooler small { color: #e4d8ab; display: block; text-transform: uppercase; margin-bottom: 20px;}
.pomegranate-cooler p { margin-bottom: 20px;}
.recipes-list ul li:hover .pomegranate-cooler { left: 0; bottom: 40px;}
.wine-page { min-height: 658px; padding-top: 76px;}
.wine-choti-bottle { position: absolute; right: 69px; bottom: 0;}
.wine-page strong { font-family: 'PT Serif', serif; font-size: 37px; color: #a27248; font-weight: 700; font-style: italic;}
.special-notes { background: #0a0908; padding-top: 100px; min-height: 658px;}
.note-module { background: #e5d7b1; border-radius: 20px 20px 0 0; padding: 30px; margin-left: 170px; margin-bottom: 10px;}
.note-module h3 { font-size: 22px; color: #a27248; margin-bottom: 15px;}
.note-module p { color: #282723; margin-bottom: 45px;}
.note-module ul li { display: block; color: #282723; margin-bottom: 10px;}
.note-module ul li span { color: #a27248; text-transform: uppercase;}
.special-notes .btn { margin-left: 170px;}

.site-footer { display: block; background: #1c1a1c; width: 100%;}
.calltoaction { display: block; width: 100%; background:url(images/calltoaction.jpg) no-repeat center center #000; padding: 20px 0 10px;}
.action-content { display: block; margin: 0 auto; width: 50%; text-align: center;}
.action-content h4 { font-size: 24px; color: #ffebb2; margin: 0 0 14px; }
.action-content ul li { display: inline-block; margin: 0 7px}
.action-content ul li a { display: block; color: #964424; font-size: 24px;} 
.action-content ul li a:hover { color: #e9e8e8;}
.footer-info { display: block; padding: 20px 0;}
.polices { text-align: right;}
.polices a { color: #964424; font-size: 15px;}

@media only screen and (min-width:768px) and (max-width: 1139px) {
  .nav > li > a { padding: 26px 8px; font-size: 14px;}
  .wine-bottle { width: 6em; margin-left:-45px;}
  .main-content { width: 355px;}
  .main-content h2 { font-size: 38px;}
  .main-content h2 small { font-size: 20px;}
  .note-module { margin-left: 90px; padding: 20px;}
  .special-notes .btn { margin-left: 90px;}
  .polices p, .copyright p { font-size: 12px;}
  
}
@media (max-width: 767px) {  
.logo { left: 10px; top: 0px; width: 24.3333%}
.navbar-nav > li { display: block;}
.main-content { width: 300px;}
.main-content h2 { font-size: 30px;}
.main-content h2 small { font-size: 20px;}
.prosecco-page { padding: 50px 0;}
.recipes-list ul li { min-height: 420px;}
.recipes-list ul li span { font-size: 13px;}
.wine-page { min-height: auto; padding: 70px 0;}
.wine-page strong { font-size: 20px;}
.note-module, .special-notes .btn { margin-left: 0;}
.wine-page .main-content { top: 0 !important;}
.action-content { width: 100%;}
.footer-info { text-align: center;}
.polices { margin-top: 10px; text-align: center;}
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
     float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
     cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { cursor:url(images/grabbing.png) 8 8, move;}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
}
#sync1 .item{ display:block; margin: 0;}
#sync2 .item{ text-align: center; cursor: pointer;}